body {
    font-family: Arial, sans-serif;
    font-size: 20px;
    background-color: #57a;

    display: flex;
}

button {
    margin: 0 10px;
    padding: 10px 16px;
    border: solid 2px black;
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.4s;
    font-size: 1em;
    outline: none;
}

input[type="text"] {
    margin-left: 10px;
    border: solid black 2px;
    padding: 4px 8px;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.4s;
}

input:focus {
    border-color: blue;
}

button:hover {
    transform: scale(1.1);
}

#resetknopf,
#randomknopf {
    background-color: #35919d;
}

#resetknopf:hover,
#randomknopf:hover {
    background-color: #2baabb;
}

#startknopf {
    background-color: #b28035;
}

#startknopf:hover {
    background-color: #da5;
}

#spielpaare_und_anzahl {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#rahmen {
    position: absolute;
    left: 0;
    right: 0;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 20px;
    width: 800px;
    max-width: 90%;
    margin: 50px auto;
    background-color: #ccc;
    transition-property: transform scale opacity;
    transition-duration: 1s;
    transform-origin: 50% 0%;
}

#rahmen.schieben {
    opacity: 0;
    transform: scale(0.5) translateX(-100%);
    pointer-events: none;
}

#menubuttons {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}

#Hauptspiel {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 20px;
    width: 800px;
    max-width: 90%;
    margin: 50px auto;
    background-color: #ccc;
    transition-property: transform scale opacity;
    transform: scale(1);
    opacity: 1;
    transition-duration: 1.5s;
    transform-origin: 50% 0%;

    position: relative;
}

#Hauptspiel.einfliegen {
    opacity: 0;
    transform: scale(0.5);
    pointer-events: none;
}

#Konfiguration {
    text-align: center;
    border: solid 1px black;
    background-color: #ffc570;
    margin: 0 auto;
    margin-top: 20px;
    border-width: 4px;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
}

#Spielpaare {
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.3);
    margin: 20px;
    padding: 50px;
    border-radius: 10px;
    background-color: #35919d;
}

#Spieleranzahl {
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    background-color: #35919d;
    border-radius: 10px;
    padding: 50px;
}

#Paarslider {
    cursor: pointer;
}

#Playernamediv {
    text-align: center;
}

#select1 {
    background-color: #81c784;
}

#select2 {
    background-color: #ba68c8;
}

#select3 {
    background-color: #7986cb;
}

#select4 {
    background-color: #4db6ac;
}

.player {
    margin: 20px;
    transition-property: opacity, transform;
    transition-duration: 0.4s;
    transform-origin: 50% 0%;
}

#Hauptspiel .player {
    position: absolute;
}

.player.hidden {
    opacity: 0;
    transform: scale(0.5) translateY(-100%);
}

#text1 {
    background-color: #81c784;
}

#text2 {
    background-color: #ba68c8;
}

#text3 {
    background-color: #7986cb;
}

#text4 {
    background-color: #4db6ac;
}

#playerbox1 {
    background-color: #81c784;
    left: 0;
    top: 0;
}

#playerbox2 {
    background-color: #ba68c8;
    right: 0;
    top: 0;
}

#playerbox3 {
    background-color: #7986cb;
    left: 0;
    bottom: 0;
}

#playerbox4 {
    background-color: #4db6ac;
    right: 0;
    bottom: 0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.memory-game {
    margin: 70px 70px;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}
.memory-card {
    cursor: pointer;
    outline: none;
    margin: 10px 10px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    transform: scale(1);
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.memory-card:active {
    transform: scale(0.97);
    transition: transform 0.2s;
}

.memory-card:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
}

.memory-card.flip {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    padding: 20px;
    border-radius: 5px;
    background: #1c7ccc;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.front-face {
    position: absolute;
    transform: rotateY(180deg);
}
